#footer {
  background: #FFFFFF;
}

.footer_container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: space-evenly;
}

.footer_container > div {
  flex: 1;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.footer_container p {
  font-size: smaller;
}

.footer_container h5 {
  margin-bottom: 10px;
}

.footer_container {
  width: 100%; /* Full width on smaller screens */
  margin-top: 10px; /* Adjusted margin for better spacing */
}

.get_intouch_socials_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.footer_socials{
  width: 20%;
  display: flex;
}

.socials {
  display: flex;
  align-self: self-start;
  gap: 5px;
}


.footer_social {
  width: 2rem;
}


/* Media Queries Tablets */
@media screen and (max-width: 768px) {
  .footer_container > div {
      flex-basis: 100%; /* Make each div take full width on tablets */
      margin: 10px 0; /* Adjusted margin for better spacing */
  }

}

/* Media Queries Phones */
@media screen and (max-width: 480px) {
  .footer_image {
      max-width: 100%; /* Make the image take full width on phones */
  }
}
