#footer{
    background: #FFFFFF;
}

.footer_image{
    width: 50%;
    height: 100%;
}

 .footer_container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 0;
  }

.footer_container > div{
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid; */
}

  .footer_container p{
    font-size: smaller;
  }l

  .footer_container h4{
    margin-bottom: 10px;
  }

h4{
  padding-bottom: 10px;
  justify-content: space-between;
}

.footer_container .our_services{
    margin-top:40px;
    margin-right: 100px;
}

.footer_container .company{
  margin-left: 100px;
}

  .get_in_touch span{
    color: #87CEEB;
    padding: 0.2rem;
  }

