/* #services{
    background: #E5F5FF;
} */

/* Styling for the container within the services section */
.services_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

h2{
    margin-bottom: 0.8rem;
}
/* Styling for the service card component */
.card.service{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.yellow-card{
    background-color: #FFF9E6;
}

.blue-card{
    background-color: #E5F5FF;
}

/* Styling for the icon within the service card */
.service_image{
    /* background: var(--color-primary);
    padding: 0.6rem;
    border-radius: var(--border-radius-3);
    font-size: 1.5rem;
    color: var(--color-white);
    transition: var(--transition); */
 
}

/* Styling for the hover effect on the icon within the service card */
/* .service:hover .service_image{
    background: var(--color-light);
    color: var(--color-primary);
} */

/* Styling for the heading within the service card */
.service h4{
    margin-bottom: 0.7rem;
}


/* Media Queries Tablets */
@media screen and (max-width: 1024px){
    .services_container{
        gap: 1.5rem;
    }
}

/* Media Queries Phones */
@media screen and (max-width: 600px){
    .services_container{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .card.service{
        gap: 1.2rem;
    }
    
}