/* #services{
    background: #E5F5FF;
} */

/* Styling for the container within the services section */
.services_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

h2 {
    margin-bottom: 0.8rem;
}

/* Styling for the service card component */
.card.service {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.yellow-card {
    background-color: #FFF9E6;
    width: 100%;
}

.blue-card {
    background-color: #E5F5FF;
    width: 100%;
}


.service_image_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    /* padding-top: 10%; */
}

/* Styling for the images within the service card */
.service_image {
    width: 160px;
    height: auto;
}

/* Styling for the heading within the service card */
.service h4 {
    margin-bottom: 0.7rem;
}


/* Media Queries Tablets */
@media screen and (max-width: 1024px) {
    .services_container {
        gap: 1.5rem;
    }
}

/* Media Queries Phones */
@media screen and (max-width: 600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .card.service {
        gap: 1.2rem;
    }

}