#ourWorks{
    background: #F8F8F8;
    padding-top: 3.75rem;
}

.ourworks_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#ourWorks h2{
  padding-bottom: 2.5rem;
}



.top {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
  }
  .top_left {
    width:33%;
  }
  .top_right {
    width:33%;
  }
  .top_right h2{
    font-size: 2.25rem;
  }

  .bot {
    width:100%;
    display: flex;
    justify-content: center;
  }
  .bot_left {
    width:33%;
  }

  .bot_right {
    width:33%;
  }