#ourWorks{
    background: #F8F8F8;
}

.ourworks_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#ourWorks h2{
  font-size: 2.7rem;
}

#ourWorks p{
  font-size: 1.7rem;
  padding-bottom: 2%;
}


.top {
    width:100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .top_left {
    width:50%;
  }
  .top_right {
    width:50%;
  }


  .bot {
    width:100%;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .bot_left {
    width:50%;
  }

  .bot_right {
    width:50%;
  }