*,
*::before,
*::after {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

body {
    background: #CCC;
}

body,
div,
ul,
li,
p {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 16pt;
}

.tickerwrapper {
    /* the outer div */

    position: relative;
    top: 30px;
    left: 0%;
    background: #fff;
    width: 100%;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.list li {
    float: left;
    padding-left: 20px;
}