/* Styling for the header section */
header{
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
    background-image: url("../../assets/banner-background.svg");
    background-size: cover;
    background-position: center;
}

/* Styling for the container within the header */
.header_container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.lightning_top{
    position: absolute;
    top: 5px;
    right: 300px;
}

.lightningBot{
    position: absolute;
    bottom: -140px;
    right: -10px;
}

/* Styling for the profile image within the header */
.header_profile{
    width: 60rem;
    aspect-ratio: 1/1;
}

/* Styling for the paragraph within the header container */
.header_container p{
    width: 35rem;
    margin: 0.6rem 0 2rem;
}

/* Styling for the call-to-action buttons within the header */
.header_cta{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header-btn{
    background: var(--color-primary);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.313rem;
    text-transform: capitalize;
}

/*Media Queries(tablets)*/
@media screen and (max-width: 1024px) {
    header{
        margin-top: 0;
        height: 100vh;
    }
    .header_profile {
        width: 100%; /* Set to 100% width for screens with a width of 1024 pixels or less */
      }
}

/*Media Queries(phones)*/
@media screen and (max-width: 600px) {
    .header_profile{
       width: 14rem;
       height: 17rem;
       max-width: 60%;
       max-height: 34vh;
    }

    .header_container p{
        width: 100%;
    }

    .header_cta{
        gap: 1rem;
    }

    .header_social{
        display: none;
    }
}