/* Styling for the header section */
header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
    background-image: url("../../assets/banner-background.svg");
    background-size: cover;
    background-position: center;
}

/* Styling for the container within the header */
.header_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.lightning_top {
    position: absolute;
    top: 5px;
    right: 300px;
}

.lightningBot {
    position: absolute;
    bottom: -140px;
    right: -10px;
}

/* Styling for the profile image within the header */
.header_profile {
    width: 60rem;
    aspect-ratio: 1/1;
}

/* Styling for the paragraph within the header container */
.header_container p {
    width: 35rem;
    margin: 0.6rem 0 2rem;
}

/* Styling for the call-to-action buttons within the header */
.header_cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header-btn {
    background: var(--color-primary);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.313rem;
    text-transform: capitalize;
}




/* Media Queries (tablets) */
@media screen and (max-width: 1024px) {
    header {
        margin-top: 5rem;
        height: 100vh;
    }

    .header_profile {
        width: 100%;
    }
}

/* Media Queries (phones) */
@media screen and (max-width: 600px) {
    header {
        margin-top: 7rem;
        height: auto;
        text-align: center;
    }

    .header_container {
        flex-direction: column;
        align-items: center;
    }

    .header_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lightning_top,
    .lightningBot {
        display: none;
    }

    .header_profile {
        width: 14rem;
        height: 17rem;
        max-width: 80%;
        max-height: 34vh;
        margin-top: 2rem;
        /* Adjust as needed */
    }

    .header_container p {
        width: 80%;
        /* Adjust as needed */
        /* margin: 1rem 0 2rem; */
    }

    .header_cta {
        flex-direction: column;
        gap: 1rem;
    }
}