/* Styling for the generic card component */
.card{
    /* background: var(--color-white); */
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}

/* Styling for the hover effect on the generic card component */
.card:hover{
    /* background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem); */
}

/* Styling for the hover effect on the light variant of the card component */
.card.light:hover{
    /* background: transparent;
    border-color: var(--color-light); */
}

/* Media Queries Phone*/
@media screen and (max-width: 600px) {
    .card{
        padding: 1.2rem;
    }
}