#partners {
    background: #E5F5FF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners_container {
    display: flex;
    width: 100%;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
}


