#ourprocess{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background: #FFFFFF;
}


#ourprocess h5 {
    font-weight: 500;
}


.ourprocess_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.ourprocess_card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    padding: 1rem;
}

.ourprocess_card img{
    width: 20%;
    padding-bottom: 1%;
}

.ourprocess_card h6{
    padding-top: 10%;
    color: var(--color-primary);
    font-size: 1.5rem;
}

.ourprocess_card p{
    font-size: 0.8rem;
    padding-top: 0.25rem;
}

.the_cards{
    border: 1px solid #EFEFEF;
    border-radius: 6px;
}


.btn_process{
    margin-top: 1.25rem;
}