#wedo{
    background: #F8F8F8;
    padding-top: 100px;
}

#wedo h2{
    padding-bottom: 40px;
}

.wedo_container{
    grid-template-columns: 35% 53%;/* Setting up a grid with two columns */
    gap: 12%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.wedo_left{
    width: 80%;
}

.wedo_card{
    border-radius: 10px;
    background: #FFFFFF;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 30px;
    border-left: 5px solid #005B96;
}

.wedo_card p{
    font-size: small;
}

.wedo_right p::before {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
  }